In [ ]:
def extended_euclidean(x, n):
    t, s = 0, 1
    original_n = n
    rounds = []
    while x > 0:
        q = n // x
        r = n - q * x
        te = t - q * s

        # Store the values for the table
        rounds.append((n, x, q, r, t, s, te))

        n, x = x, r
        t, s = s, te

    # Adjust the last round to show x = 0
    if n == 1:
        rounds.append((n, 0, 0, 0, t, s, te))
        return t % original_n, rounds
    else:
        return None, rounds

# Input x and n
x = int(input("Enter the value of x: "))
n = int(input("Enter the value of n: "))

# Find the multiplicative inverse of x mod n
inverse, rounds = extended_euclidean(x, n)

# Print the rounds in a table format
print("\nround\tn\tx\tq\tr\tt\ts\tte")
for i, (n, x, q, r, t, s, te) in enumerate(rounds):
    print(f"{i+1}\t{n}\t{x}\t{q}\t{r}\t{t}\t{s}\t{te}")

if inverse is not None:
    print(f"\nThe multiplicative inverse of {x} mod {n} is {inverse}")
else:
    print("\nNo multiplicative inverse found")

Enter the value of x: 2003
Enter the value of n: 4200

round	n	x	q	r	t	s	te
1	4200	2003	2	194	0	1	-2
2	2003	194	10	63	1	-2	21
3	194	63	3	5	-2	21	-65
4	63	5	12	3	21	-65	801
5	5	3	1	2	-65	801	-866
6	3	2	1	1	801	-866	1667
7	2	1	2	0	-866	1667	-4200
8	1	0	0	0	1667	-4200	-4200

The multiplicative inverse of 0 mod 1 is 1667

In [ ]:
def extended_euclidean(x, n):
    t, s = 0, 1
    original_n = n
    rounds = []
    while x > 0:
        q = n // x
        r = n - q * x
        te = t - q * s

        # Store the values for the table
        rounds.append((n, x, q, r, t, s, te))

        n, x = x, r
        t, s = s, te

    # Adjust the last round to show x = 0
    if n == 1:
        rounds.append((n, 0, 0, 0, t, s, te))
        return t % original_n, rounds
    else:
        return None, rounds

# Find the multiplicative inverse of 13 mod 22
inverse, rounds = extended_euclidean(2003, 4200)

# Print the rounds in a table format
print("round\tn\tx\tq\tr\tt\ts\tte")
for i, (n, x, q, r, t, s, te) in enumerate(rounds):
    print(f"{i+1}\t{n}\t{x}\t{q}\t{r}\t{t}\t{s}\t{te}")

if inverse is not None:
    print(f"\nThe multiplicative inverse of 2003 mod 4200 is {inverse}")
else:
    print("\nNo multiplicative inverse found")

round	n	x	q	r	t	s	te
1	4200	2003	2	194	0	1	-2
2	2003	194	10	63	1	-2	21
3	194	63	3	5	-2	21	-65
4	63	5	12	3	21	-65	801
5	5	3	1	2	-65	801	-866
6	3	2	1	1	801	-866	1667
7	2	1	2	0	-866	1667	-4200
8	1	0	0	0	1667	-4200	-4200

The multiplicative inverse of 2003 mod 4200 is 1667

In [ ]:
def extended_euclidean(x, n):
    t = 0
    s = 1
    original_n = n  # Store the original value of n for final modulus operation

    while x > 0:
        q = n // x  # Integer division

        r = n - q * x  # Remainder
        n = x
        x = r

        te = t - q * s
        t = s
        s = te
        print(n,x,q,r,t,s,te)
    if n == 1:
        return t % original_n  # Ensure the result is in the correct range
    else:
        return "No modular inverse exists"

# Example usage:
x = 2003
n = 4200
inverse = extended_euclidean(x, n)
print(inverse)  # Should print the modular inverse of 3 mod 11, if it exists

2003 194 2 194 1 -2 -2
194 63 10 63 -2 21 21
63 5 3 5 21 -65 -65
5 3 12 3 -65 801 801
3 2 1 2 801 -866 -866
2 1 1 1 -866 1667 1667
1 0 2 0 1667 -4200 -4200
1667

In [ ]:
def square_and_multiply(x, k, n):
    y = 1
    k_bin = bin(k)[2:]  # Convert k to binary representation (omit the '0b' prefix)
    nb = len(k_bin)

    for i in range(nb):
        if k_bin[i] == '1':
            y = (x * y) % n  # Multiply x with y if the current bit k_i is 1
        x = (x * x) % n  # Square x at each step (preparing for next bit)

    return y

# Example usage:
x = 2854
k = 1667
n = 4331
result = square_and_multiply(x, k, n)
print(result)  # Should print the result of 3^13 mod 7

1295

In [ ]:
def square_and_multiply(base, exponent, modulus):
    result = 1
    binary_exponent = bin(exponent)[2:]  # Convert exponent to binary string without '0b' prefix

    for bit in binary_exponent:
        result = (result * result) % modulus  # Square
        if bit == '1':
            result = (result * base) % modulus  # Multiply if the bit is 1

    return result

# Example usage:
base = 2744
exponent = 1667
modulus = 4200
print(f"{base}^{exponent} mod {modulus} = {square_and_multiply(base, exponent, modulus)}")

2744^1667 mod 4200 = 1064

In [ ]:
from tabulate import tabulate

def square_and_multiply_with_steps(x, k, n):
    y = 1
    k_bin = bin(k)[2:]  # Convert k to binary representation (omit the '0b' prefix)
    nb = len(k_bin)

    steps = []

    for i in range(nb):
        bit = int(k_bin[nb - 1 - i])  # Access bits from right to left
        if bit == 1:
            y = (x * y) % n
        x = (x * x) % n
        steps.append({
            "round": i + 1,
            "i": nb - 1 - i,
            "k_i": bit,
            "Y": y,
            "x": x
        })

    return y, steps

# Example usage:
x = 10
k = 2003
n = 4331
result, steps = square_and_multiply_with_steps(x, k, n)

# Print result
print(f"Result: {result}")

# Print steps in a table
headers = ["round", "i", "k_i", "Y", "x"]
table = [[step["round"], step["i"], step["k_i"], step["Y"], step["x"]] for step in steps]
print(tabulate(table, headers=headers, tablefmt="grid"))

Result: 10
+---------+-----+-------+------+------+
|   round |   i |   k_i |    Y |    x |
+=========+=====+=======+======+======+
|       1 |  10 |     1 | 1044 | 2855 |
+---------+-----+-------+------+------+
|       2 |   9 |     1 |  892 |   83 |
+---------+-----+-------+------+------+
|       3 |   8 |     0 |  892 | 2558 |
+---------+-----+-------+------+------+
|       4 |   7 |     0 |  892 | 3554 |
+---------+-----+-------+------+------+
|       5 |   6 |     0 |  892 | 1720 |
+---------+-----+-------+------+------+
|       6 |   5 |     0 |  892 |  327 |
+---------+-----+-------+------+------+
|       7 |   4 |     0 |  892 | 2985 |
+---------+-----+-------+------+------+
|       8 |   3 |     1 | 3386 | 1358 |
+---------+-----+-------+------+------+
|       9 |   2 |     0 | 3386 | 3489 |
+---------+-----+-------+------+------+
|      10 |   1 |     1 | 3117 | 3011 |
+---------+-----+-------+------+------+
|      11 |   0 |     1 |   10 | 1338 |
+---------+-----+-------+------+------+

In [ ]:

y = 196
p = 14
n = 4200
x = (y**2) % n
y2 = (p * y) % n

print("y",y2)
print("x",x)

y 2744
x 616